%p Hello Admin!

- if @classified.published?
  %p The following has been submitted and is published online:
- elsif @classified.approved?
  %p The following has been submitted and approved:
- else
  %p The following has been submitted and is awaiting your approval:

%hr

%h3= @classified.title
%p= @classified.category
%p= @classified.organization
%p= @classified.location
%p= @classified.body

- if @classified.start_on.present?
  %p
    %strong Start:
    = @classified.start_on.strftime("%b %e, %Y")

- if @classified.end_on.present?
  %p
    %strong End:
    = @classified.end_on.strftime("%b %e, %Y")

%hr

- unless @classified.approved?
  %p= link_to("Approve", effective_classifieds.edit_admin_classified_url(@classified))

%p= link_to("View", effective_classifieds.classified_url(@classified))

%p Have a great day!
