- if can?(:new, EffectiveClassifieds.ClassifiedWizard)

  -# In-progress submission
  - submission = EffectiveClassifieds.ClassifiedWizard.in_progress.for(current_user).first
  - datatable = EffectiveResources.best('EffectiveClassifiedWizardsDatatable').new(self, namespace: :effective)

  - if submission.present?
    %h2 In-progress #{classifieds_label}

    %p Your submission is incomplete:

    %p
      Please
      = link_to("Continue submission", effective_classifieds.classified_wizard_build_path(submission, submission.next_step), 'data-turbolinks' => false, class: 'btn btn-primary')
      or you can
      = link_to('Abandon submission', effective_classifieds.classified_wizard_path(submission), 'data-confirm': "Really delete #{submission}?", 'data-method': :delete, class: 'btn btn-danger')
      to submit another.

    %hr

  %h2= classifieds_label

  - if datatable.present?
    = render_simple_datatable(datatable)
  - else
    %p You don't have any #{classifieds_label.downcase}. When you do, we'll show them here.

  - if submission.blank?
    %p= link_to "Post a #{classified_label}", effective_classifieds.new_classified_wizard_path, class: 'btn btn-primary'
