- classified = classified_wizard.classified

%table.table.table-sm
  %tbody
    %tr
      %th.border-0= classified_label
      %td.border-0

        - if classified&.published?
          = link_to(classified, effective_classifieds.classified_path(classified), target: '_blank')
        - else
          = classified.presence || "#{classified_label} was deleted"

    - if request.path.start_with?('/admin')
      %tr
        %th Submitted by
        %td
          - url = (polymorphic_admin_path(classified_wizard.owner) rescue "/admin/users/#{classified_wizard.owner.to_param}/edit")
          = link_to(classified_wizard.owner, url)
    - else
      %tr
        %th Submitted by
        %td= classified_wizard.owner

    - if classified&.was_submitted?
      %tr
        %th Status
        %td
          %span.badge.badge-secondary= classified.status

    - if classified_wizard.price_category.present?
      %tr
        %th Price Category
        %td= classified_wizard.price_category

    - if classified_wizard.user.present?
      %tr
        %th Member
        %td
          = classified_wizard.user
          %small= masked_email(classified_wizard.user)
