= render 'layout' do
  = render 'effective/classified_wizards/content', resource: resource

  .card
    .card-body
      %p Welcome #{current_user}!

      %p
        You can use this wizard to submit a new #{classified_label.downcase} for display on the #{classifieds_name_label}.
        Your progress will be saved as you move through the wizard.
        Once your posting is published you are able to come back and edit the details.

      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :id

        = f.hidden_field :owner_type
        = f.hidden_field :owner_id

        = f.save 'Save and Continue'
