= render 'layout' do
  = render 'effective/classified_wizards/content', resource: resource

  - raise('expected a submitted classified_wizard') unless resource.was_submitted?

  .alert.alert-warning.mb-4
    Successfully submitted on #{resource.submitted_at.strftime('%F')}.

  = link_to "Return to Dashboard", root_path, class: 'btn btn-lg btn-primary mb-4'

  = render 'effective/classified_wizards/summary', classified_wizard: resource
  = render 'effective/classified_wizards/classified_wizard', classified_wizard: resource

  = link_to "Return to Dashboard", root_path, class: 'btn btn-lg btn-primary'
