= tabs do
  = tab(et(classified)) do
    = render 'admin/classifieds/form_classified', classified: classified

  - if classified.persisted?
    - if classified.classified_wizard.present?
      = tab(et(EffectiveClassifieds.ClassifiedWizard)) do
        = card('Wizard') do
          = render('effective/classified_wizards/summary', classified_wizard: classified.classified_wizard)

        = render('effective/classified_wizards/classified_wizard', classified_wizard: classified.classified_wizard)

      = tab 'Orders' do
        %h2 Orders
        - datatable = Admin::EffectiveOrdersDatatable.new(parent: classified.classified_wizard, owner: classified.owner, user: classified.owner, total: false)
        = render_datatable(datatable, simple: true)

    = tab 'Access' do
      = render '/admin/classifieds/form_access', classified: classified

    - if classified.class.respond_to?(:acts_as_trackable?)
      = tab 'Tracks' do
        - datatable = Admin::EffectiveTracksDatatable.new(owner: classified)
        = render_datatable(datatable, inline: true, namespace: :admin)

    - if classified.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(classified.log_changes_datatable)
