%tr
  %td.col-date.text-right= classified.start_on&.strftime("%b %e, %Y")
  %td
    %strong= link_to classified.title, effective_classifieds.classified_url(classified)
    .text-muted= classified.organization
    .d-block.d-md-none= classified.location

  %td.d-none.d-md-table-cell= classified.location
  -# %td.col-date.d-none.d-md-table-cell.text-right= classified.end_on&.strftime("%b %e, %Y")
