.card
  .card-body
    %table.table.effective-classified-table
      %tbody
        %tr
          %th Category
          %td= classified.category

        %tr
          %th Title
          %td= classified.title

        %tr
          %th Available
          %td
            #{classified.start_on&.strftime('%F')}
            to
            #{classified.end_on&.strftime('%F')}

        - if classified.website.present?
          %tr
            %th Location
            %td= classified.location

        %tr
          %th Description
          %td= classified.body

        %tr
          %th Company
          %td= classified.organization

        - if classified.website.present?
          %tr
            %th Website
            %td= link_to(classified.website, classified.website, target: '_blank')

        - if classified.email.present?
          %tr
            %th Email
            %td= mail_to(classified.email)

        - if classified.phone.present?
          %tr
            %th Phone
            %td= classified.phone
