%tr
  %td.col-date= classified.start_on&.strftime("%b %d, %Y")
  %td.col-date.d-none.d-md-table-cell= classified.end_on&.strftime("%b %d, %Y")
  %td
    %strong= link_to classified.title, effective_classifieds.classified_path(classified)
    .text-muted= classified.organization

  %td.d-none.d-md-table-cell= classified.location
