.card
  .card-body
    %table.table.effective-classified-table
      %tbody

        %tr
          %td Category
          %td= classified.category

        %tr
          %td Title
          %td= classified.title

        %tr
          %td Available
          %td #{classified.start_on&.strftime('%F')} to #{classified.end_on&.strftime('%F')}

        - if classified.website.present?
          %tr
            %td Location
            %td= classified.location

        %tr
          %td Description
          %td= classified.body

        %tr
          %td Company
          %td= classified.organization

        - if classified.website.present?
          %tr
            %td Website
            %td= link_to(classified.website, classified.website, target: '_blank')

        - if classified.email.present?
          %tr
            %td Email
            %td= mail_to(classified.email)

        - if classified.phone.present?
          %tr
            %td Phone
            %td= classified.phone
