= f.select :category, EffectiveClassifieds.categories, required: true
= f.text_field :title
= f.text_field :location

- if f.object.persisted? || f.object.errors.include?(:slug)
  - current_url = (effective_classifieds.classified_url(f.object) rescue nil)
  = f.text_field :slug, hint: "The slug controls this resource's internet address. Be careful, changing the slug will break links that other websites may have to the old address.<br>#{('This is currently reachable via ' + link_to(current_url.gsub(f.object.slug, '<strong>' + f.object.slug + '</strong>').html_safe, current_url)) if current_url }".html_safe

- minDate = [Time.zone.now, f.object.created_at].compact.min

.row
  .col-lg-6
    = f.date_field :start_on, label: "Start",
      hint: 'The classified ad will be displayed starting after this date.',
      input_js: { minDate: minDate.strftime('%F') }

  .col-lg-6
    = f.date_field :end_on, label: "Expire",
      hint: 'The classified ad will no longer be displayed after this date.'

- if f.object.persisted? && !f.object.draft?
  = f.check_box :archived, label: 'Yes, this classified is archived and will not be displayed'

= f.rich_text_area :body, label: 'Body content', hint: 'The main body content of your classified ad. Be sure to include all relevant information!'


%h2.mt-5.mb-0 Contact Information
%p
  %small.text-muted Contact information will be displayed on the classified ad.

= f.text_field :organization, label: 'Company or Organization'
= f.url_field :website
= f.email_field :email
= f.tel_field :phone
