= render 'layout' do
  .row
    .col
      %h1.effective-title.mb-4= @page_title

    .col-auto.text-right
      = link_to "Post a #{classified_label}", effective_classifieds.new_classified_wizard_path, class: 'btn btn-primary'

  - if @classifieds.present?
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th.col-date.text-right Posted
            %th Title
            %th.d-none.d-md-table-cell Location
            -# %th.col-date.d-none.d-md-table-cell.text-right Closing

        %tbody
          = render @classifieds

  - else
    .alert.alert-warning.mb-3
      There are no active #{classifieds_label.downcase}.
