= render 'layout' do
  .resource-buttons
    = link_to "Submit New #{et(Effective::Classified)}", effective_classifieds.new_classified_wizard_path, class: 'btn btn-primary'

  = card do
    - if @datatable.present?(self)
      = render_datatable(@datatable, simple: true)
    - else
      %p There are no active #{etsd(Effective::Classified)}. When there are, we'll show them here.
