= render 'layout' do
  .resource-buttons
    = link_to "Submit New #{et(Effective::Classified)}", effective_classifieds.new_classified_wizard_path, class: 'btn btn-primary'

  - if @classifieds.present?
    .table-responsive
      %table.table.table-striped.table-hover
        %tr
          %th.col-date Published
          %th.col-date.d-none.d-md-table-cell Closing
          %th Title
          %th.d-none.d-md-table-cell Location

        = render @classifieds

    .resource-buttons
      = link_to "Submit New #{et(Effective::Classified)}", effective_classifieds.new_classified_wizard_path, class: 'btn btn-primary'

  - else
    = card class: 'mt-5' do
      %p.text-center There are no active #{etsd(Effective::Classified)}. When there are, we'll show them here.
