= render 'layout' do
  .effective-classified
    - unless @classified.published?
      .alert.alert-warning.mb-4 This #{etd(@classified)} is not published.

    .row
      .col
        %ul.list-unstyled
          %li
            %strong Company
            = @classified.organization

          - if @classified.location.present?
            %li
              %strong Location
              = @classified.location

          %li
            %strong Published
            #{@classified.start_on&.strftime("%b %d, %Y")}

          %li
            %strong Closing
            #{@classified.end_on&.strftime("%b %d, %Y")}


          - if @classified.file.attached?
            %li
              %strong Attachment
              = link_to(@classified.file.filename, main_app.url_for(@classified.file), target: '_blank')

        .body.mt-4
          = @classified.body.to_s
