= render 'layout' do
  .effective-classified
    - unless @classified.published?
      .alert.alert-warning.mb-4 This #{etd(@classified)} is not published.

    .row
      .col-md-4
        %ul.list-unstyled
          %li
            %strong Company
            = @classified.organization

          - if @classified.location.present?
            %li
              %strong Location
              = @classified.location

          %li
            %strong Published
            #{@classified.start_on&.strftime("%b %d, %Y")}

          %li
            %strong Closing
            #{@classified.end_on&.strftime("%b %d, %Y")}


          - if @classified.file.attached?
            %li
              %strong Attachment
              = link_to(@classified.file.filename, main_app.url_for(@classified.file), target: '_blank')


        %ul.list-unstyled
          - if @classified.website.present?
            %li
              %strong Website
              = link_to(@classified.website, @classified.website, target: '_blank')

          - if @classified.email.present?
            %li
              %strong Email
              = mail_to(@classified.email)

          - if @classified.phone.present?
            %li
              %strong Phone
              = @classified.phone

      .col-md-8
        = @classified.body.to_s
