- if can?(:new, EffectiveClassifieds.ClassifiedSubmission)

  -# In-progress submission
  - submission = EffectiveClassifieds.ClassifiedSubmission.in_progress.for(current_user).first
  - datatable = EffectiveResources.best('EffectiveClassifiedSubmissionsDatatable').new(self, namespace: :effective)

  - if submission.present?
    %h2 In-progress Classified Ads

    %p
      Your submission for #{submission.classified.presence || 'a classified'} is incomplete.

    %p
      Please
      = link_to("Continue submission for #{submission.classified.presence || 'a classified'}", effective_classifieds.classified_submission_build_path(submission, submission.next_step), 'data-turbolinks' => false, class: 'btn btn-primary')
      or you can
      = link_to('Abandon submission', effective_classifieds.classified_submission_path(submission), 'data-confirm': "Really delete #{submission}?", 'data-method': :delete, class: 'btn btn-danger')
      to submit another.

    %hr

  %h2 Classified Ads

  - if datatable.present?
    = render_simple_datatable(datatable)
  - else
    %p You don't have any classified ads. When you do, we'll show them here.

  - if submission.blank?
    %p= link_to 'Submit New Classified Ad', effective_classifieds.new_classified_submission_path, class: 'btn btn-primary'
